<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/site.css">
        <nav>
            <ul>
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/projects}">Projects</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><a th:href="https://resumenrobinette.tiiny.site/">Download Resume</a></li>
                <!-- <li><a th:href="@{/editpet}">Edit Pet</a></li> -->
            </ul>
        </nav>
    </header>
    <title>Contact</title>
</head>
<body>
        <h1></h1>
        <table>
            <thead>
                <tr>
                    <th>Linked In</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:href="https://www.linkedin.com/in/nicholas-robinette-5b0812342/">Linked In</td>
                    <td>nickrobinette20@gmail.com</td>
                </tr>
            </tbody>
        </table>
</body>
</html>