<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/site.css">

        <nav>
            <ul>
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/projects}">Projects</a></li>
                <li><a th:href="@{/about}">About</a></li>
                <li><a th:href="@{/contact}">Contact</a></li>
                <li><a th:href="https://resumenrobinette.tiiny.site/">Download Resume</a></li>
            </ul>
        </nav>
    </header>
    <title>Nick's Profile</title>
</head>
<body>
    <!-- <div insert="fragments/header :: siteHeader"></div> -->
        <h1>Welcome to my website</h1>
        Use the tabs at the top to lean more about me 
        <!-- <img src=""> -->
        <!-- <div insert="fragments/footer :: siteFooter"></div> -->
</body>
</html>